
<!-- Start Loader-->
<div class="loading">
  <div class="loader"><img src="img/logo.png"/></div>
</div>
<!-- End Loader-->
<!-- Start Top Header-->
<div class="overlay"></div>
<header> 
  <div class="header top-header"> 
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="user-tools center">
            <div class="dropdown-click"><span> العربية<i class="left-icon fas fa-chevron-down"></i></span>
              <div class="dropdown-content">
                <ul>
                  <li><a href="">العربية</a></li>
                  <li><a href="">English</a></li>
                </ul>
              </div>
            </div>
            <div class="register-btns"><a class="site-btn" href="sign-up.html">تسجيل الدخول</a><a class="site-btn purple" href="login.html">التسجيل</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Top Header-->
  <!-- Start Navbar-->
  <div class="menu">
    <div class="container">
      <div class="menu-content"><a class="logo" href="index.html"><img src="img/logo.png"/></a>
        <div class="nav-links">
          <ul>
            <li><a href="index.html">الرئيسية</a></li>
            <li><a href="">الأخبار</a></li>
            <li><a href="">من نحن</a></li>
            <li><a href="">تواصل معنا</a></li>
            <li class="hide"><a href="">المعلمون</a></li>
            <li class="hide"><a href="">المناهج</a></li>
          </ul>
        </div>
        <div class="mob-collaps"><span></span><span></span><span></span></div>
      </div>
    </div>
  </div>
  <!-- End Navbar-->
</header>