
<!-- Start Loader-->
<div class="loading">
  <div class="loader"><img src="img/logo.png"/></div>
</div>
<!-- End Loader-->
<!-- Start Top Header-->
<div class="overlay"></div>
<header> 
  <div class="header top-header"> 
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-12">
          <ul class="headRightLinks">
            <li><a href="">المعلمون</a></li>
            <li><a href="">المناهج</a></li>
          </ul>
        </div>
        <div class="col-md-6 col-12">
          <div class="user-tools">
            <div class="dropdown-click"><span> العربية<i class="left-icon fas fa-chevron-down"></i></span>
              <div class="dropdown-content">
                <ul>
                  <li><a href="">العربية</a></li>
                  <li><a href="">English</a></li>
                </ul>
              </div>
            </div>
            <div class="register-btns"><a class="site-btn green" href="">إشتراك</a></div>
            <ul class="personalLinks">
              <li class="dropdown-click"><span> <i class="fas fa-comments"></i></span>
                <div class="dropdown-content">
                  <ul>
                    <li>
                      <h3>المحادثات</h3>
                    </li>
                    <li>
                      <div class="fav-block comment">
                        <div class="fav-content"><span></span><img src="img/client-img.png"/>
                          <div class="fav-txt">
                            <h3>يزيد الحسيني
                              <mark>مدرس تاريخ</mark>
                            </h3>
                            <div class="fav-flag">
                              <p>بنحاضر يوم الأربعاء عن الدروس</p>
                            </div>
                          </div>
                          <div class="fav-icons">
                            <p>18/06/2019</p>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="fav-block comment">
                        <div class="fav-content"><span></span><img src="img/client-img.png"/>
                          <div class="fav-txt">
                            <h3>يزيد الحسيني
                              <mark>مدرس تاريخ</mark>
                            </h3>
                            <div class="fav-flag">
                              <p>بنحاضر يوم الأربعاء عن الدروس</p>
                            </div>
                          </div>
                          <div class="fav-icons">
                            <p>18/06/2019</p>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="fav-block comment">
                        <div class="fav-content"><span></span><img src="img/client-img.png"/>
                          <div class="fav-txt">
                            <h3>يزيد الحسيني
                              <mark>مدرس تاريخ</mark>
                            </h3>
                            <div class="fav-flag">
                              <p>بنحاضر يوم الأربعاء عن الدروس</p>
                            </div>
                          </div>
                          <div class="fav-icons">
                            <p>18/06/2019</p>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="dropdown-click"><span> <i class="fas fa-heart"></i></span>
                <div class="dropdown-content">
                  <ul>
                    <li>
                      <h3>المُعلمون المفضلون</h3>
                    </li>
                    <li>
                      <div class="fav-block"><span>متصل</span>
                        <div class="fav-content"><a href="" data-toggle="modal" data-target="#teacherDetails"><img src="img/client-img.png"/>
                            <div class="fav-txt">
                              <h3>يزيد الحسيني</h3>
                              <div class="fav-flag"><img src="img/flag.png"/><span>مدرس تاريخ</span></div>
                            </div></a>
                          <div class="fav-icons"><i class="fas fa-comment-dots"></i><i class="fas fa-video"></i></div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="fav-block"><span>متصل</span>
                        <div class="fav-content"><a href="" data-toggle="modal" data-target="#teacherDetails"><img src="img/client-img.png"/>
                            <div class="fav-txt">
                              <h3>يزيد الحسيني</h3>
                              <div class="fav-flag"><img src="img/flag.png"/><span>مدرس تاريخ</span></div>
                            </div></a>
                          <div class="fav-icons"><i class="fas fa-comment-dots"></i><i class="fas fa-video"></i></div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="fav-block"><span>متصل</span>
                        <div class="fav-content"><a href="" data-toggle="modal" data-target="#teacherDetails"><img src="img/client-img.png"/>
                            <div class="fav-txt">
                              <h3>يزيد الحسيني</h3>
                              <div class="fav-flag"><img src="img/flag.png"/><span>مدرس تاريخ</span></div>
                            </div></a>
                          <div class="fav-icons"><i class="fas fa-comment-dots"></i><i class="fas fa-video"></i></div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="dropdown-click"><span> <img src="img/profImg.png"/></span>
                <div class="dropdown-content prof">
                  <ul>
                    <li><a href="">إعدادات الحساب</a></li>
                    <li><a href="">جدول مواعيدي</a></li>
                    <li><a href="">تسجيل خروج</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Top Header-->
  <!-- Start Navbar-->
  <div class="menu">
    <div class="container">
      <div class="menu-content"><a class="logo" href="index.html"><img src="img/logo.png"/></a>
        <div class="nav-links">
          <ul>
            <li><a href="index.html">الرئيسية</a></li>
            <li><a href="">الأخبار</a></li>
            <li><a href="">من نحن</a></li>
            <li><a href="">تواصل معنا</a></li>
            <li class="hide"><a href="">المعلمون</a></li>
            <li class="hide"><a href="">المناهج</a></li>
          </ul>
        </div>
        <div class="mob-collaps"><span></span><span></span><span></span></div>
      </div>
    </div>
  </div>
  <!-- End Navbar-->
</header>