extends footer.pug

block fixedFooter
    .fixed-footer
        ul
            li
                a(href="index-after-login.html", class="active")
                    i.fas.fa-home
                    span الرئيسية
            li
                a(href="login.html")
                    i.fas.fa-money-bill-alt
                    span إشتراك