<!DOCTYPE html>
html(lang="en")
    include layout/headLinks/headLinks.pug

    body
        block header-after-login
            include layout/header/header.pug

        // Start Body

        .wrapper
            block content

                
            

        // End Body

        block footer-after-login
            include layout/footer/footer.pug